@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/scss/all.scss";

html {
  scroll-behavior: smooth;
}

* {
  letter-spacing: 2.3px;
  color: rgb(38, 50, 56);
  font-family: Montserrat;
  font-weight: 500;
}

.App {
  background-image: url("assets/images/bg3.webp");
  background-size: cover;
  background-repeat: repeat;
  z-index: "-2";
}

.Bg {
  background-image: url("assets/images/bg3.webp");
  background-size: cover;
  background-repeat: repeat;
}

.active li {
  color: #5da9e7;
}

li::after {
  width: 0%;
  content: "";
  display: block;
  border-bottom: 2.5px solid #5da9e7;
  margin-top: 5px;
  transition: 0.3s;
}

.active li::after {
  width: 100%;
}

@media (max-width: 600px) {
  .App {
    background-image: url("assets/images/bg-mobile2.webp");
  }
  .Bg {
    background-image: url("assets/images/bg-mobile2.webp");
    background-size: cover;
    background-repeat: repeat;
  }
}

.horizontal-scroll-container {
  overflow-x: auto;
}

.horizontal-scroll-container::-webkit-scrollbar {
  height: 9px;
}

.horizontal-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(142, 142, 142);
  border-radius: 50px;
}

.horizontal-scroll-container::-webkit-scrollbar-track {
  background: #fdfafa;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.is-free {
  background-color: green;
  color: white;
}

.is-occupied {
  background-color: red;
  color: white;
}
