@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/scss/all.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  letter-spacing: 2.3px;
  color: rgb(38, 50, 56);
  font-family: Montserrat;
  font-weight: 500;
}
.App {
  /* background-image: url("assets/images/background.jpg"); */
  background-image: url("assets/images/bg3.webp");
  background-size: cover;
  background-repeat: repeat;
}

#Start {
  /* background-image: url("assets/images/Dogs/ciapki.jpg"); */
  background-image: url("assets/images/bg3.webp");
  background-size: cover;
}
/* .Bg {
  background-image: url("assets/images/bg3.png");

  background-size: cover;
} */
.active li {
  color: #5da9e7;
}

li::after {
  width: 0%;
  content: ""; /* This is necessary for the pseudo-element to be generated */
  display: block; /* This makes the pseudo-element behave like a block-level element */
  border-bottom: 2.5px solid #5da9e7; /* Adjust the width and color as needed */
  margin-top: 5px; /* Adjust the space above the border as needed */
  transition: 0.3s;
}
.active li::after {
  width: 100%; /* This makes the border span the full width of the li element */
}
