@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Montserrat";
} */
* {
  letter-spacing: 1.5px;
  /* font-weight: 500; */
  color: rgb(38, 50, 56);
  /* line-height: 28px; */
}
.App {
  background-image: url("assets/images/background.jpg");

  background-size: cover;
}
